<Create .env file with the similar content>

AWS_S3_BUCKET_NAME=<Bucket name>
AWS_S3_ACCESS_KEY_ID=<Key>
AWS_S3_SECRET_ACCESS_KEY=<Key>


IMAGE_DIMENTIONS=300x300,640x640,1024x1024
IMAGE_MAX_SIZE_KB=1000
IMAGE_CONTENT_TYPES=image/gif,image/jpeg,image/jpg,image/png,image/tiff,image/vnd.microsoft.icon,image/x-icon,image/vnd.djvu,image/svg+xml
IMAGE_EXTENTIONS=gif,jpg,png,tiff
